services:
  web:
    image: ghcr.io/${DOCKER_REGISTRY}/openagri-gatekeeper:${TAG}
    container_name: django_gatekeeper
    restart: no
    build:
      context: .
      args:
        SOURCE_REPO: ${SOURCE_REPO}
    env_file:
      - .env
    volumes:
      - .:/var/www
      - asset_volume:/var/www/assets
      - media_volume:/var/www/media
      - logs_volume:/var/www/logs
    ports:
      - "8001:8001"

volumes:
  asset_volume:
  media_volume:
  logs_volume:

